* {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

a {
  color: #000000;
  text-decoration: none; }

h2 {
  font-weight: normal; }

header .header {
  width: 100%;
  background: #f5f5f5;
  border: solid 1px #ddd; }
  header .header .header-nav {
    background: #f5f5f5;
    width: 1194px;
    height: 30px;
    font-size: 12px;
    margin: 0 auto; }
    header .header .header-nav span {
      line-height: 30px; }
      header .header .header-nav span a {
        color: #1890ff; }
    header .header .header-nav ul {
      float: right;
      line-height: 30px; }
      header .header .header-nav ul li {
        float: left;
        padding-left: 10px; }
        header .header .header-nav ul li i {
          color: red; }
        header .header .header-nav ul li span {
          font-size: 12px;
          color: #ddd; }

header .article {
  width: 100%;
  background: #fff; }
  header .article .header-article {
    width: 1194px;
    height: 90px;
    margin: 0 auto;
    margin-top: 50px;
    padding-left: 15px; }
    header .article .header-article .article-float {
      float: left; }
    header .article .header-article .article-logo {
      width: 150px; }
      header .article .header-article .article-logo img {
        height: 60px; }
    header .article .header-article .article-input {
      margin-left: 300px;
      width: 490px; }
      header .article .header-article .article-input input {
        width: 430px;
        height: 30px;
        border: 1px solid #c62e2d;
        padding-left: 5px;
        color: #C8C8C8;
        float: left; }
      header .article .header-article .article-input span button {
        width: 40px !important;
        height: 32px !important;
        background: #c62e2d; }
        header .article .header-article .article-input span button i {
          color: #fff; }
      header .article .header-article .article-input .article-nav {
        font-size: 12px; }
        header .article .header-article .article-input .article-nav .dl-float {
          float: left; }
        header .article .header-article .article-input .article-nav dd {
          padding-left: 20px;
          color: #c8c8c8; }
    header .article .header-article .article-shopping {
      margin-left: 15px;
      width: auto;
      height: 32px;
      padding: 0 5px 0 10px;
      border: 1px solid #C8C8C8;
      color: #666;
      font-size: 14px;
      line-height: 30px; }
      header .article .header-article .article-shopping a {
        color: #666; }
        header .article .header-article .article-shopping a i {
          color: #c62e2d; }
        header .article .header-article .article-shopping a span {
          color: #c62e2d; }
  header .article .nav {
    height: 40px;
    width: 1194px;
    background: #fff;
    margin: 0 auto; }
    header .article .nav .nav-one {
      float: left; }
    header .article .nav .nav-menu {
      background: #90766d;
      color: #fff;
      width: 186px;
      height: 47px;
      line-height: 47px; }
      header .article .nav .nav-menu a {
        padding: 10px 20px; }
    header .article .nav .nav-nav {
      line-height: 40px;
      font-size: 14px; }
      header .article .nav .nav-nav ul li {
        float: left;
        padding-left: 30px; }

section .section .car {
  width: 100%;
  background: #fff; }
  section .section .car .car-ring .wrapper {
    width: 100%;
    height: 380px;
    overflow: hidden;
    position: relative; }
    section .section .car .car-ring .wrapper ul {
      position: relative; }
      section .section .car .car-ring .wrapper ul li {
        position: absolute;
        top: 0;
        left: 0; }
    section .section .car .car-ring .wrapper ol {
      position: absolute;
      bottom: 10px;
      left: 520px;
      width: 210px; }
      section .section .car .car-ring .wrapper ol li {
        float: left;
        width: 20px;
        height: 20px;
        margin: 0 5px;
        text-align: center;
        border-radius: 50%;
        cursor: default;
        background-color: #abc; }
        section .section .car .car-ring .wrapper ol li .current {
          background-color: pink; }

section .section .list {
  width: 100%;
  background: #f0f3ef; }
  section .section .list .list-1 {
    height: 145px; }
    section .section .list .list-1 .list-one {
      width: 1194px;
      height: 145px;
      margin: 0 auto;
      background: #f0f3ef;
      padding-top: 10px; }
      section .section .list .list-1 .list-one ul {
        padding-left: 185px; }
        section .section .list .list-1 .list-one ul li {
          float: left;
          margin-left: 10px; }
          section .section .list .list-1 .list-one ul li img {
            width: 190px;
            height: 140px; }
  section .section .list .list-2 {
    height: 488px;
    margin-top: 28px; }
    section .section .list .list-2 .list-two {
      width: 1194px;
      margin: 0 auto; }
      section .section .list .list-2 .list-two .eve-one:last-child {
        margin-right: 0; }
      section .section .list .list-2 .list-two .eve-one {
        width: 390px;
        height: 488px;
        background: #fff;
        float: left;
        margin-right: 10px; }
        section .section .list .list-2 .list-two .eve-one .one-row-b {
          width: 388px;
          height: 58px; }
        section .section .list .list-2 .list-two .eve-one .one-row {
          width: 388px;
          height: 85px;
          margin: 4px; }
          section .section .list .list-2 .list-two .eve-one .one-row .row-float {
            float: left; }
          section .section .list .list-2 .list-two .eve-one .one-row .number {
            width: 59px;
            height: 74px; }
            section .section .list .list-2 .list-two .eve-one .one-row .number img {
              width: 59px;
              height: 74px; }
          section .section .list .list-2 .list-two .eve-one .one-row .component {
            width: 320px;
            height: 85px;
            padding-left: 9px; }
            section .section .list .list-2 .list-two .eve-one .one-row .component a {
              width: 310px;
              height: 60px; }
              section .section .list .list-2 .list-two .eve-one .one-row .component a img {
                width: 50px;
                height: 60px;
                float: left;
                padding-top: 10px; }
              section .section .list .list-2 .list-two .eve-one .one-row .component a span {
                padding-left: 26px; }
                section .section .list .list-2 .list-two .eve-one .one-row .component a span h2 {
                  margin: 12px 0 0;
                  smargin-top: 12px;
                  height: 32px;
                  font-size: 12px;
                  line-height: 16px;
                  color: #1E1E1E;
                  font-weight: 400; }
                section .section .list .list-2 .list-two .eve-one .one-row .component a span p {
                  font-size: 12px;
                  color: #d7622d; }
        section .section .list .list-2 .list-two .eve-one .one-row-2 img {
          padding-top: 12px; }
        section .section .list .list-2 .list-two .eve-one .one-row-2 span img {
          float: left; }
        section .section .list .list-2 .list-two .eve-one .one-row-3 img {
          margin-top: 15px; }
  section .section .list .list-3 {
    height: 130px;
    margin-top: 28px; }
    section .section .list .list-3 .list-three {
      width: 1194px;
      margin: 0 auto; }
      section .section .list .list-3 .list-three ul li {
        float: left;
        padding-right: 10px; }
  section .section .list .list-4 {
    height: 320px;
    padding-top: 30px; }
    section .section .list .list-4 .list-four {
      width: 1194px;
      height: 320px;
      background: #fff;
      margin: 0 auto; }
      section .section .list .list-4 .list-four .title-h {
        padding: 20px 0 20px; }
        section .section .list .list-4 .list-four .title-h h2 {
          margin: 0;
          font-size: 18px;
          line-height: 26px;
          color: #1E1E1E;
          float: left;
          padding-left: 30px;
          font-weight: normal; }
        section .section .list .list-4 .list-four .title-h ul {
          float: right; }
          section .section .list .list-4 .list-four .title-h ul li {
            float: left;
            margin: 0 24px 0 0;
            padding: 4px;
            font-size: 12px;
            color: #84685E; }
      section .section .list .list-4 .list-four .tab {
        height: 160px;
        clear: both; }
        section .section .list .list-4 .list-four .tab .tab-one {
          float: left;
          padding: 10px;
          width: 165px; }
          section .section .list .list-4 .list-four .tab .tab-one .tab-img {
            width: 160px;
            height: 160px;
            text-align: center; }
            section .section .list .list-4 .list-four .tab .tab-one .tab-img img {
              height: 100%; }
          section .section .list .list-4 .list-four .tab .tab-one h2 {
            margin: 12px 0 0;
            height: 32px;
            font-size: 12px;
            line-height: 16px;
            color: #1E1E1E; }
          section .section .list .list-4 .list-four .tab .tab-one p {
            margin: 10px 0 0;
            height: 22px;
            line-height: 22px;
            color: #C62E2D;
            font-size: 14px; }
  section .section .list .list-5 {
    height: 390px;
    padding-top: 30px;
    background: #f0f3ef; }
    section .section .list .list-5 .list-five {
      width: 1194px;
      height: 390px;
      background: #fff;
      margin: 0 auto; }
      section .section .list .list-5 .list-five .title-one {
        height: 60px; }
      section .section .list .list-5 .list-five .list-book ul li {
        width: 390px;
        height: 330px;
        float: left;
        padding-right: 10px; }
        section .section .list .list-5 .list-five .list-book ul li .people .p-one .p-img {
          height: 152px;
          padding-top: 33px;
          padding-left: 15px;
          background: url(../img/sysd/p1t.jpg) no-repeat; }
        section .section .list .list-5 .list-five .list-book ul li .people .p-one .p-zp {
          width: 390px;
          height: 160px;
          padding: 0 16px 12px 25px; }
          section .section .list .list-5 .list-five .list-book ul li .people .p-one .p-zp .pf {
            float: left; }
          section .section .list .list-5 .list-five .list-book ul li .people .p-one .p-zp .p-book {
            height: 80px;
            width: 80px; }
            section .section .list .list-5 .list-five .list-book ul li .people .p-one .p-zp .p-book img {
              height: 100%;
              width: auto; }
          section .section .list .list-5 .list-five .list-book ul li .people .p-one .p-zp .p {
            font-size: 12px;
            line-height: 20px;
            height: 20px;
            width: 250px; }
            section .section .list .list-5 .list-five .list-book ul li .people .p-one .p-zp .p p {
              margin-top: 5px; }
  section .section .list .list-list {
    height: 815px;
    margin-top: 50px; }
    section .section .list .list-list .list-list-one {
      width: 1194px;
      margin: 0 auto; }
      section .section .list .list-list .list-list-one .child:last-child {
        margin-right: 0; }
      section .section .list .list-list .list-list-one .child {
        height: 815px;
        width: 590px;
        background: #fff;
        float: left;
        margin-right: 10px; }
        section .section .list .list-list .list-list-one .child .child-1 {
          width: 590px;
          height: 58px; }
          section .section .list .list-list .list-list-one .child .child-1 img {
            width: 590px;
            height: 58px; }
        section .section .list .list-list .list-list-one .child .child-2 {
          height: 550px; }
          section .section .list .list-list .list-list-one .child .child-2 .float {
            float: left; }
          section .section .list .list-list .list-list-one .child .child-2 .child-2-1 {
            padding-left: 10px; }
            section .section .list .list-list .list-list-one .child .child-2 .child-2-1 img {
              width: 160px;
              height: 470px; }
          section .section .list .list-list .list-list-one .child .child-2 .child-2-2 .child-tao {
            position: relative;
            display: inline-block;
            margin: 8px;
            padding: 10px;
            width: 170px; }
            section .section .list .list-list .list-list-one .child .child-2 .child-2-2 .child-tao .child-img {
              width: 160px;
              height: 160px;
              text-align: center; }
              section .section .list .list-list .list-list-one .child .child-2 .child-2-2 .child-tao .child-img img {
                height: 100%;
                width: auto; }
            section .section .list .list-list .list-list-one .child .child-2 .child-2-2 .child-tao h2 {
              margin: 12px 0 0;
              height: 32px;
              font-size: 12px;
              line-height: 16px;
              color: #1E1E1E;
              font-weight: 400;
              width: 160px; }
            section .section .list .list-list .list-list-one .child .child-2 .child-2-2 .child-tao p {
              margin: 10px 0 0;
              height: 22px;
              line-height: 22px;
              color: #C62E2D;
              font-size: 14px; }
        section .section .list .list-list .list-list-one .child .child-3 .one-1 {
          float: left; }

footer .footer {
  background: #eaeaea;
  width: 100%; }
  footer .footer .foot-one {
    background: #eaeaea;
    width: 100%;
    height: 155px; }
    footer .footer .foot-one .foot-1 {
      width: 1194px;
      height: 155px;
      margin: 0 auto; }
      footer .footer .foot-one .foot-1 ul li {
        margin-top: 80px;
        width: 298px;
        height: 32px;
        float: left;
        text-align: center; }
  footer .footer .foot-two {
    background: #eaeaea;
    width: 100%;
    height: 188px;
    padding-top: 44px;
    border-top: 1px solid #908888;
    border-bottom: 1px solid #908888; }
    footer .footer .foot-two .foot-2 {
      background: #eaeaea;
      width: 1194px;
      height: 188px;
      margin: 0 auto; }
      footer .footer .foot-two .foot-2 .col {
        width: 1194px;
        margin: 0 auto; }
        footer .footer .foot-two .foot-2 .col .col-1 {
          float: left;
          width: 72px;
          padding-left: 130px; }
          footer .footer .foot-two .foot-2 .col .col-1 .p {
            font-size: 18px;
            color: #333333;
            font-weight: bold; }
          footer .footer .foot-two .foot-2 .col .col-1 p {
            color: #999999;
            font-weight: bold;
            font-size: 14px;
            margin-top: 5px; }
  footer .footer .foot-three {
    width: 100%;
    height: 265px; }
    footer .footer .foot-three .foot-3 {
      width: 1194px;
      height: 265px;
      margin: 0 auto; }
      footer .footer .foot-three .foot-3 .wen {
        padding-top: 50px;
        width: 594px;
        height: 130px;
        margin: 0 auto; }
        footer .footer .foot-three .foot-3 .wen p {
          text-align: center;
          font-weight: bold;
          color: #999;
          font-size: 12px;
          padding-top: 12px; }
      footer .footer .foot-three .foot-3 .wen-two {
        padding-top: 30px;
        padding-left: 60px;
        width: 594px;
        margin: 0 auto;
        text-align: center; }
        footer .footer .foot-three .foot-3 .wen-two .di {
          padding-left: 10px;
          width: 140px;
          height: 25px;
          float: left; }
          footer .footer .foot-three .foot-3 .wen-two .di .left {
            float: left; }
          footer .footer .foot-three .foot-3 .wen-two .di .di-one {
            width: 30px;
            height: 25px; }
            footer .footer .foot-three .foot-3 .wen-two .di .di-one img {
              width: 30px;
              height: 25px; }
          footer .footer .foot-three .foot-3 .wen-two .di .di-two {
            width: 110px;
            height: 25px;
            line-height: 25px;
            font-size: 12px; }
